.main-input-task {
  height: 50px;
  margin: 0 25px 0 25px;
  width: calc(100vw - 322px);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin-top: 30px;
  padding: 0 0 0 20px;
  border-radius: 4px;
  outline: none;
}

.page-info {
  margin: 0 25px 0 25px;
  width: calc(100vw - 322px);
  margin-top: 20px;
}

.page-info-icon h5 {
  margin: 0;
}

.page-info p {
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: 400;
}

.task-list .task-list-container {
  margin: 0 25px 0 25px;
  display: flex;
  align-items: center;
  height: 50px;
  width: calc(100vw - 322px);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin-top: 23px;
  padding: 0 0 0 20px;
  background: #ffffff;
  border-radius: 4px;
}

.task-list .task-list-container:hover {
  background: #f5f5f5;
  text-decoration: none;
}

.task-completed {
  text-decoration: line-through;
}

.edit,
.finished {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.form-check button {
  margin-right: 25px;
}

.edited-task-input {
  outline: none;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding-left: 5px;
}

.form-check-input {
  cursor: pointer;
}
